<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ttm.tlrb">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:normalScreens="true" android:anyDensity="true" />


    <queries>
        <package android:name="com.tencent.mm" />            <!--// 指定微信包名-->
        <package android:name="com.tencent.mobileqq" />    <!--//指定qq包名-->
        <package android:name="com.sina.weibo" />             <!--//指定微博包名-->
        <package android:name="com.qzone" />                   <!--//指定QQ空间包名-->
    </queries>

    <application
        android:name=".ui.application.RBApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2d71b810c4b24f3ff5ef7e6f02e272cf"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AddRedBombActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.UpdateRedBombActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.UpdateNickNameActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.UpdateEmailActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.UpdatePhoneActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.UpdatePasswordActivity" android:screenOrientation="portrait">
        </activity>

        <service android:name=".ui.service.DownloadService"/>

        <!-- 有米广告 -->
        <activity
            android:name="th.ds.wa.BV"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="th.ds.wa.ED"
            android:exported="false" >
        </service>
        <receiver
            android:name="th.ds.wa.TR"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <!-- 百度广告 -->
        <!--<meta-data	android:name="BaiduMobAd_APP_ID"	android:value="f57536be"/>
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:noHistory="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${qqappid}" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>
        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>