<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ttm.tlrb">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <supports-screens android:smallScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:normalScreens="true" android:anyDensity="true" />

    <application
        android:name=".ui.application.RBApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2d71b810c4b24f3ff5ef7e6f02e272cf"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            >
        </activity>
        <activity
            android:name=".ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AddRedBombActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.UpdateNickNameActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.UpdateEmailActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.UpdatePhoneActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.UpdatePasswordActivity" android:screenOrientation="portrait">
        </activity>

        <service android:name=".ui.service.DownloadService"/>

        <!-- 有米广告 -->
        <!--<activity
            android:name="th.ds.wa.BV"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="th.ds.wa.ED"
            android:exported="false" >
        </service>
        <receiver
            android:name="th.ds.wa.TR" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>-->


        <!-- 百度广告 -->
        <!--<meta-data	android:name="BaiduMobAd_APP_ID"	android:value="f57536be"/>
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
        <!--腾讯广告-->
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 新浪微博 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <!--<service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"/>-->
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>