<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ttm.tlrb">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ui.application.RBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data android:value="576b3c8c67e58eaff4001e99" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activity.FeedBackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.AddRedBombActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.RegisterActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activity.LoginActivity" android:screenOrientation="portrait" android:launchMode="singleTop">
        </activity>
        <activity android:name=".ui.activity.GroupActivity" android:screenOrientation="portrait">
        </activity>

        <service android:name=".ui.service.DownloadService"/>

        <!--有米广告-->
        <!--<activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>
        <receiver
            android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>-->

        <!--百度广告-->
        <!--<meta-data	android:name="BaiduMobAd_APP_ID"	android:value="f57536be"/>-->
        <activity android:name="com.baidu.mobads.AppActivity"
                     android:configChanges="keyboard|keyboardHidden|orientation"
                     android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>